<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne_@c.CRASH_ID">
            <h5 class="mb-0">
                <button class="btn btn-info " data-toggle="collapse" href="collapseOne_@c.CRASH_ID" @onclick="@(() => { IsVisible = !IsVisible; })">
                    @c.CRASH_DATETIME      |       @c.CITY     |       @c.COUNTY_NAME County     |      @x
                </button>
            </h5>
        </div>
    </div>

    <div id="collapseOne_@c.CRASH_ID" class="collapse @(IsVisible ? "show" : "") justify-content-center">
        <div class="card-body">
            <table class="table table-responsive table-sm table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-wrap col-4">ROUTE</th>
                        <th class="text-wrap col-4">MILEPOINT</th>
                        <th class="text-wrap col-4">LAT_UTM_Y</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-wrap col-4">@c.ROUTE</td>
                        <td class="text-wrap col-4">@c.MILEPOINT</td>
                        <td class="text-wrap col-4">@c.LAT_UTM_Y</td>
                    </tr>
                </tbody>

                <thead>
                    <tr>
                        <th class="text-wrap col-4">LONG_UTM_X</th>
                        <th class="text-wrap col-4">MAIN_ROAD_NAME</th>
                        <th class="text-wrap col-4">WORK_ZONE_RELATED</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-wrap col-4">@c.LONG_UTM_X</td>
                        <td class="text-wrap col-4">@c.MAIN_ROAD_NAME</td>
                        <td class="text-wrap col-4">@c.WORK_ZONE_RELATED</td>
                    </tr>
                </tbody>

                <thead>
                    <tr>
                        <th class="text-wrap col-4">PEDESTRIAN_INVOLVED</th>
                        <th class="text-wrap col-4">BICYCLIST_INVOLVED</th>
                        <th class="text-wrap col-4">MOTORCYCLE_INVOLVED</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-wrap col-4">@c.PEDESTRIAN_INVOLVED</td>
                        <td class="text-wrap col-4">@c.BICYCLIST_INVOLVED</td>
                        <td class="text-wrap col-4">@c.MOTORCYCLE_INVOLVED</td>
                    </tr>
                </tbody>

                <thead>
                    <tr>
                        <th class="text-wrap col-4">IMPROPER_RESTRAINT</th>
                        <th class="text-wrap col-4">UNRESTRAINED</th>
                        <th class="text-wrap col-4">DUI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-wrap col-4">@c.IMPROPER_RESTRAINT</td>
                        <td class="text-wrap col-4">@c.UNRESTRAINED</td>
                        <td class="text-wrap col-4">@c.DUI</td>
                    </tr>
                </tbody>

                <thead>
                    <tr>
                        <th class="text-wrap col-4">INTERSECTION_RELATED</th>
                        <th class="text-wrap col-4">WILD_ANIMAL_RELATED</th>
                        <th class="text-wrap col-4">DOMESTIC_ANIMAL_RELATED</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-wrap col-4">@c.INTERSECTION_RELATED</td>
                        <td class="text-wrap col-4">@c.WILD_ANIMAL_RELATED</td>
                        <td class="text-wrap col-4">@c.DOMESTIC_ANIMAL_RELATED</td>
                    </tr>
                </tbody>

                <thead>
                    <tr>
                        <th class="text-wrap col-4">OVERTURN_ROLLOVER</th>
                        <th class="text-wrap col-4">COMMERCIAL_MOTOR_VEH_INVOLVED</th>
                        <th class="text-wrap col-4">TEENAGE_DRIVER_INVOLVED</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-wrap col-4">@c.OVERTURN_ROLLOVER</td>
                        <td class="text-wrap col-4">@c.COMMERCIAL_MOTOR_VEH_INVOLVED</td>
                        <td class="text-wrap col-4">@c.TEENAGE_DRIVER_INVOLVED</td>
                    </tr>
                </tbody>

                <thead>
                    <tr>
                        <th class="text-wrap col-4">OLDER_DRIVER_INVOLVED</th>
                        <th class="text-wrap col-4">NIGHT_DARK_CONDITION</th>
                        <th class="text-wrap col-4">SINGLE_VEHICLE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-wrap col-4">@c.OLDER_DRIVER_INVOLVED</td>
                        <td class="text-wrap col-4">@c.NIGHT_DARK_CONDITION</td>
                        <td class="text-wrap col-4">@c.SINGLE_VEHICLE</td>
                    </tr>
                </tbody>

                <thead>
                    <tr>
                        <th class="text-wrap col-4">DISTRACTED_DRIVING</th>
                        <th class="text-wrap col-4">DROWSY_DRIVING</th>
                        <th class="text-wrap col-4">ROADWAY_DEPARTURE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-wrap col-4">@c.DISTRACTED_DRIVING</td>
                        <td class="text-wrap col-4">@c.DROWSY_DRIVING</td>
                        <td class="text-wrap col-4">@c.ROADWAY_DEPARTURE</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {

    protected bool IsVisible { get; set; }

    [Parameter]
    public Crash c { get; set; }

    [Parameter]
    public string x { get; set; }

}