@{
}

@model CrashesViewModel

<h2>Utah Crash Data</h2>

@foreach (Crash c in Model.Crashes)
{
    var x = "";
    
    if (c.CRASH_SEVERITY_ID == 1)
    {
        x = "No Injury/PDO";
    }
    else if (c.CRASH_SEVERITY_ID == 2)
    {
        x = "Possible Injury";
    }
    else if (c.CRASH_SEVERITY_ID == 3)
    {
        x = "Suspected Minor Injury";
    }
    else if (c.CRASH_SEVERITY_ID == 4)
    {
        x = "Suspected Serious Injury";
    }
    else
    {
        x = "Fatal";
    }
    

    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne_@c.CRASH_ID">
                <h5 class="mb-0">
                    <button class="btn btn-info collapsed" data-toggle="collapse" data-target="#collapseOne_@c.CRASH_ID" aria-expanded="false" aria-controls="collapseOne_@c.CRASH_ID">
                        @c.CRASH_DATETIME      |       @c.CITY     |       @c.COUNTY_NAME County     |      @x 
                    </button>
                </h5>
            </div>
        </div>

        <div id="collapseOne_@c.CRASH_ID" class="collapse" aria-labelledby="headingOne_@c.CRASH_ID" data-parent="#accordion">
            <div class="card-body">
                <table class="table table-sm table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>ROUTE</th>
                            <th>MILEPOINT</th>
                            <th>LAT_UTM_Y</th>
                            <th>LONG_UTM_X</th>
                            <th>MAIN_ROAD_NAME</th>
                            <th>WORK_ZONE_RELATED</th>
                            <th>PEDESTRIAN_INVOLVED</th>
                            <th>BICYCLIST_INVOLVED</th>
                            <th>MOTORCYCLE_INVOLVED</th>
                            <th>IMPROPER_RESTRAINT</th>
                            <th>UNRESTRAINED</th>
                            <th>DUI</th>
                            <th>INTERSECTION_RELATED</th>
                            <th>WILD_ANIMAL_RELATED</th>
                            <th>DOMESTIC_ANIMAL_RELATED</th>
                            <th>OVERTURN_ROLLOVER</th>
                            <th>COMMERCIAL_MOTOR_VEH_INVOLVED</th>
                            <th>TEENAGE_DRIVER_INVOLVED</th>
                            <th>OLDER_DRIVER_INVOLVED</th>
                            <th>NIGHT_DARK_CONDITION</th>
                            <th>SINGLE_VEHICLE</th>
                            <th>DISTRACTED_DRIVING</th>
                            <th>DROWSY_DRIVING</th>
                            <th>ROADWAY_DEPARTURE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@c.ROUTE</td>
                            <td>@c.MILEPOINT</td>
                            <td>@c.LAT_UTM_Y</td>
                            <td>@c.LONG_UTM_X</td>
                            <td>@c.MAIN_ROAD_NAME</td>
                            <td>@c.WORK_ZONE_RELATED</td>
                            <td>@c.PEDESTRIAN_INVOLVED</td>
                            <td>@c.BICYCLIST_INVOLVED</td>
                            <td>@c.MOTORCYCLE_INVOLVED</td>
                            <td>@c.IMPROPER_RESTRAINT</td>
                            <td>@c.UNRESTRAINED</td>
                            <td>@c.DUI</td>
                            <td>@c.INTERSECTION_RELATED</td>
                            <td>@c.WILD_ANIMAL_RELATED</td>
                            <td>@c.DOMESTIC_ANIMAL_RELATED</td>
                            <td>@c.OVERTURN_ROLLOVER</td>
                            <td>@c.COMMERCIAL_MOTOR_VEH_INVOLVED</td>
                            <td>@c.TEENAGE_DRIVER_INVOLVED</td>
                            <td>@c.OLDER_DRIVER_INVOLVED</td>
                            <td>@c.NIGHT_DARK_CONDITION</td>
                            <td>@c.SINGLE_VEHICLE</td>
                            <td>@c.DISTRACTED_DRIVING</td>
                            <td>@c.DROWSY_DRIVING</td>
                            <td>@c.ROADWAY_DEPARTURE</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}






<br />
<div page-num="@Model.PageInfo" page-action="Temp" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group float-right m-1"></div>
